#main
	Blog HAML!
	#container.generic
		Here we are in a blog, maybe.
		%form{:id => "blogForm", :method => "POST"}
			%input{:type => "text", :id => "blogTitle"}
			<br>
			%textarea{:id => "blogInput"}
			<br>
			%input{:type => "submit", :value => "Submit or defy!", :id => "submit"}
			
		%h1 Well um ...
		- if @posts
			%p Got posts
			- @posts.each do |post|
				%h1 Got a thing here
				%h2= post.title
				%p= post.content