.generic {
    width: 550px;
    border: 2px solid fuchsia;
    //background: black;
    //color: white;
    font-weight: bold;
    font-size: 120%;
}

#restartButton {
    display: none;
}

#left {
	width: 200px;
}
#main {
	margin-left: 200px;
	margin-right: 200px;
}
#right {
	width: 200px;
	float: right;
}

.boxen {
    width: 100px;
    height: 100px;
    border: 2px solid fuchsia;
}

.ui-drag-outline {
    border: 2px dashed grey;
}